<br/>
<div class="row">
  <div class="four columns">
    <div class="panel">
      <h3><%= @website.domain %> settings</h3>
      <%= link_to "Edit your website", edit_website_path %>
    </div>
  </div>
  
  <% if @pages %>
    <div class="four columns">
      <div class="panel">
        <h3>your pages<small><%= link_to "add", new_website_page_path %></h3>
        <% @pages.each do |page| %>
          <%= link_to page.title, website_page_path(page) %><br/>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
