<h1>Welcome to the Blog</h1>

<% @posts.reverse.each do |post| %>
  <h2><%= link_to post.title, ([:dashboard, :blog, post]) %></h2>
  <p><%= time_ago_in_words post.created_at %> ago</p>
<p><%= truncate post.text%></p>
<% end %>

<p><%= link_to "New Post", new_dashboard_blog_post_path %></p>
