<div class="row">
  <div class="twelve columns">
    <h5>howdy!</h5>
    <ul>
      <li><%= link_to "sign up", new_user_path %></li>
      <li><%= link_to "sign in", new_user_session_path %></li>
    </ul>
  </div>
</div>
