<div class="row">
  <div class="four columns centered">
    <h1>There is no homepage yet.</h1>
    <h3>Fix that homie!</h3>
    <strong>wanna fix it?</strong><br/>
    - make sure you have the "website pages" module enabled on your dashboard (<a href="http://dashboard.thomasvendetta.com">dashboard.thomasvendetta.com</a>)<br/>
    - from your dashboard add a new page and make sure the path is "index"..
    - thats all. 
  </div>
</div>
